<div class="bg-white">
    <div class="container bg-white py-5">
        <div class="d-flex bg-white">
            <div class="align-self-start">
                <img src="https://picsum.photos/300/300?random=7" class="rounded-circle" alt="...">
            </div>
            <div class="align-self-start">
                <h1>The second heading is pretty cool too</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat hic quos dolorum, aliquam ratione
                    ducimus
                    quia! Nam incidunt quod, ad impedit enim molestias architecto nisi dolore aspernatur, omnis, dolorum
                    neque?
                </p>
            </div>
        </div>
    </div>
</div>