<!-- your html code here -->

<!-- Jumbotron -->
<div class="text-center bg-image rounded-3" style="
background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
height: 400px;
">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="mt-5 text-black col-12">
                <h1 class="mb-3 bg-white py-2 fs-1">One Page Wonder</h1>
                <h4 class="mt-5 mb-3 bg-white">Will Knock Your Socks Off</h4>
            </div>
        </div>
    </div>
</div>
